@using LibraryManager.DAL.Entities
@using Microsoft.AspNetCore.Identity
@using LibraryManager.DTO.Models
@model IEnumerable<BookDTO>  

@{
    ViewBag.Title = "title";
}
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@if (SignInManager.IsSignedIn(User))
{

    Layout = "~/Views/Shared/_Layout.cshtml";

}
@if (User.IsInRole("Admin"))
{

    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
@if (!User.Identity.IsAuthenticated)
{
    Layout = "~/Views/Shared/_GuestLayout.cshtml";
}


<h3 style="text-align:center">Your wish list</h3>
<br />
<table class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Rating </th>
            <th>Number of pages</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var book in Model)
            {
                 <tr class="info">
                     <td><a href="~/Library/Open/@book.Id">@book.Title </a></td>
                     <td>@book.Author.FirstName @book.Author.LastName</td>
                     <td>@book.Rating</td>
                     <td>@book.NumberOfPages</td>
                     <td>
                         @Html.ActionLink("Read", "StartReadingBook", "Library",
                          new
                          {
                              bookId = @book.Id
                          },
                            htmlAttributes: new
                            {
                                @class = "btn btn-success btn-block",
                                @role = "button"
                            })
                     </td>
                 </tr>
                }


            }
         

    </tbody>
</table>



