@using LibraryManager.DTO.Models

@using LibraryManager.DTO.Models
@model IEnumerable<BookDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <ul>
        @foreach (var book in Model)
        {
            <li>
                <a asp-controller="Books" asp-action="Open" asp-route-id="@book.Id"><h2>@book.Title</h2></a>
                <h3>Written by @book.Author.FirstName  @book.Author.LastName</h3>
                <p>@book.Rating</p><br />
                <p>@book.NumberOfPages</p>
                <p>
                    Available Languages:
                    @foreach (var language in book.Languages)
                    {
                        <h6>@language.LanguageName</h6>
                    }
                </p>
            </li>
        }
    </ul>
</div>