@using LibraryManager.DAL.Entities
@using Microsoft.AspNetCore.Identity
@model System.Collections.Generic.IEnumerable<LibraryManager.DTO.Models.BookDTO>

@{
    ViewBag.Title = "title";
}
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@if (SignInManager.IsSignedIn(User))
{

    Layout = "~/Views/Shared/_Layout.cshtml";

}
@if (User.IsInRole("Admin"))
{

    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
@if (!User.Identity.IsAuthenticated)
{
    Layout = "~/Views/Shared/_GuestLayout.cshtml";
}

<div id="itemsSection" class="container">
    @if (Model.Count() > 0)
    {
        foreach (var book in Model)
        {
            <a asp-controller="Library" asp-action="Open" asp-route-id="@book.Id" class="a-item">
    <div class="col-sm-4 text-center">
        <a asp-controller="Library" asp-action="Open" asp-route-id="@book.Id" class="a-item">
            <h2>@book.Title</h2>
        </a>
        @foreach (var genre in book.Genres)
        {
            <h5>@genre.GenreName</h5>
        }
        <img src="~/images/@book.ImageName" width="200" height="300" class="img-rounded mx-auto d-block" alt="@book.Title" />
    </div>
            </a>
                }
                }
                else
                {
                <div class="row">
                    <h1>Sorry, No books was.</h1>
                </div>
                }
        </div>