@{
    ViewData["Title"] = "Open";
}

@using LibraryManager.DTO.Models;
@model BookDTO

<div id="content" class="container">
    <div id="imageSection" class="alert col-sm-4">
        <img src="~/images/mock-300x400.png" class="img img-rounded mx-auto d-block" alt="@Model.Title"/>
        <h4 style="padding:20px">Rating: @Model.Rating</h4>
        @if (User.Identity.IsAuthenticated)
        {
        <button class="btn btn-primary btn-success">Add to wishlist</button>
        }
    </div>
    <div id="descriptionSection" class="alert col-sm-8">
        <h2>@Model.Title</h2>
        <h4>by @Model.Author.FirstName @Model.Author.LastName</h4>
        <h4>Published in //TODO:Add year</h4>
        <br />
        <h4>Genres:</h4>
            @foreach (var genre in Model.Genres)
            {
                <h4>@genre.GenreName </h4>
            }
        <div class="card">
            <div class="card-body">
                //TODO: Add Description to book.
            </div>
        </div>
    </div>
</div>

