@using Microsoft.AspNetCore.Identity
@using LibraryManager.DAL.Entities
@using LibraryManager.DTO.Models;

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@model UserExtendedDTO
@if (User.IsInRole("Admin"))
{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<body>
    <div style=" text-align:center">
        <h2>Detailed <span style="color:grey"> @Model.UserDTO.FirstName @Model.UserDTO.LastName </span> information</h2>
    </div>
    <br />

    <div>
        <div class="col-sm-4">
            <img src="~/images/@Model.ImageName" style="vertical-align:central" alt=@Model.UserDTO.UserName />
        </div>
        <div style="background-color:azure;position:relative;" class="col-lg-8">
            <h4><b>Fullname:</b> @Model.UserDTO.FirstName @Model.UserDTO.LastName</h4>
            <h4><b>Email:</b> @Model.UserDTO.Email </h4>
            <h4><b>Role:</b> @Model.UserDTO.Role </h4>
            <h4><b>Username:</b> @Model.UserDTO.UserName </h4>
            <h3><b>Wishlist: </b></h3>
            @{
                foreach (var book in Model.WishList)
                {
                    <a asp-controller="Library" asp-action="Open" asp-route-id="@book.Id" class="a-item">
                        <h4> @book.Title </h4>
                    </a>
                }
                @*<by @book.Author.FirstName @book.Author.LastName>*@

            }

        </div>
    </div>
</body>
